.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    border-radius: 10rem;
    transition: all 0.2s;
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &--project {
    color: $color-primary-dark-2;
  }
}

.btn-cv {
  color: $color-primary-btn;
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: capitalize;
}

.icon {
  height: 4rem;
  width: 4rem;
}

.cv_icon {
  height: 3rem;
  width: 3rem;
  fill: $color-primary-btn;
  margin-left: 1rem;
}
.about__content--CV:hover {
  ._icon {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
  }
}
